-- Prosody XMPP Server Configuration
-- {{ ansible_managed }}

admins = {
{% if prosody_config.admins is defined %}
{% for jid in prosody_config.admins %}
    "{{ jid }}";
{% endfor %}
{% endif %}
} -- END admins
{% if prosody_config.plugin_paths is defined %}

plugin_paths = {
{% for path in prosody_config.plugin_paths %}
    "{{ path }}";
{% endfor %}
}
{% endif %}
{% if prosody_config.modules_enabled is defined %}

modules_enabled = {
{% for module in prosody_config.modules_enabled %}
    "{{ module }}";
{% endfor %}
}
{% endif %}
{% if prosody_config.modules_disabled is defined %}

modules_disabled = {
{% for module in prosody_config.modules_disabled %}
    "{{ module }}";
{% endfor %}
}
{% endif %}
{% if prosody_config.allow_registration is defined %}

allow_registration = {{ prosody_config.allow_registration | bool | lower }}
{% endif %}
{% if prosody_config.c2s_require_encryption is defined %}

c2s_require_encryption = {{ prosody_config.c2s_require_encryption | bool | lower }}
{% endif %}
{% if prosody_config.c2s_ports is defined %}

c2s_ports = {
{% for port in prosody_config.c2s_ports %}
    {{ port }},
{% endfor %}
}
{% endif %}
{% if prosody_config.c2s_interfaces is defined %}

c2s_interfaces = {
{% for addr in prosody_config.c2s_interfaces %}
    "{{ addr }}",
{% endfor %}
}
{% endif %}
{% if prosody_config.s2s_ports is defined %}

s2s_ports = {
{% for port in prosody_config.s2s_ports %}
    {{ port }},
{% endfor %}
}
{% endif %}
{% if prosody_config.s2s_interfaces is defined %}

s2s_interfaces = {
{% for addr in prosody_config.s2s_interfaces %}
    "{{ addr }}",
{% endfor %}
}
{% endif %}
{% if prosody_config.s2s_require_encryption is defined %}

s2s_require_encryption = {{ prosody_config.s2s_require_encryption | bool | lower }}
{% endif %}
{% if prosody_config.s2s_secure_auth is defined %}

s2s_secure_auth = {{ prosody_config.s2s_secure_auth | bool | lower }}
{% endif %}
{% if prosody_config.s2s_insecure_domains is defined %}

s2s_insecure_domains = {
{% for domain in prosody_config.s2s_insecure_domains %}
    "{{ domain }}";
{% endfor %}
}
{% endif %}
{% if prosody_config.s2s_secure_domains is defined %}

s2s_secure_domains = {
{% for domain in prosody_config.s2s_secure_domains %}
    "{{ domain }}";
{% endfor %}
}
{% endif %}
{% if prosody_config.pidfile is defined %}

pidfile = "{{ prosody_config.pidfile }}"
{% endif %}
{% if prosody_config.authentication is defined %}

authentication = "{{ prosody_config.authentication }}"
{% endif %}
{% if prosody_config.storage is defined %}

storage = "{{ prosody_config.storage }}"
{% endif %}
{% if prosody_config.sql is defined %}

sql = {
    {% if prosody_config.sql.driver is defined %}
    driver = "{{ prosody_config.sql.driver }}",
    {% endif %}
    {% if prosody_config.sql.database is defined %}
    database = "{{ prosody_config.sql.database }}",
    {% endif %}
    {% if prosody_config.sql.username is defined %}
    username = "{{ prosody_config.sql.username }}",
    {% endif %}
    {% if prosody_config.sql.password is defined %}
    password = "{{ prosody_config.sql.password }}",
    {% endif %}
    {% if prosody_config.sql.host is defined %}
    host = "{{ prosody_config.sql.host }}",
    {% endif %}
}
{% endif %}
{% if prosody_config.archive_expires_after is defined %}

archive_expires_after = "{{ prosody_config.archive_expires_after }}"
{% endif %}

-- Logging configuration
-- For advanced logging see https://prosody.im/doc/logging
log = {
	info = "/var/log/prosody/prosody.log"; -- Change 'info' to 'debug' for verbose logging
	error = "/var/log/prosody/prosody.err";
	-- "*syslog"; -- Uncomment this for logging to syslog
	-- "*console"; -- Log to the console, useful for debugging with daemonize=false
}
{% if prosody_config.statistics is defined %}

statistics = "{{ prosody_config.statistics }}"
{% endif %}
{% if prosody_config.conflict_resolve is defined %}

conflict_resolve = "{{ prosody_config.conflict_resolve }}"
{% endif %}
{% if prosody_config.ignore_presence_priority is defined %}

ignore_presence_priority = {{ prosody_config.ignore_presence_priority | bool | lower }}
{% endif %}
{% if prosody_config.certificates is defined %}

certificates = "{{ prosody_config.certificates }}"
{% endif %}

Include "/etc/prosody/virtualhosts-enabled/*.cfg.lua"
