-- Prosody XMPP Server Configuration
-- {{ ansible_managed }}
{% with cfg=prosody_config %}{% include "prosody.inc.j2" %}{% endwith %}
{% if prosody_config.VirtualHosts is defined %}

Include "/etc/prosody/virtualhosts-enabled/*.cfg.lua"
{% endif %}
